{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>   
    <title>Index</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header>
        <h1 class="text-red text-2xl">this prediction text</h1>
        <img class="w-20" src="{% static "images/logo.png" %}" alt="" srcset="">
    </header>
</body>
</html>